body {
    background-color: rgb(61, 84, 148);
    width: auto;
}
h1 {
    color: white;
    text-align: center;
    background-color: rgb(12, 26, 63);
}

.row {
    float: top;
    color: white;
    text-align: center;
    background-color: rgb(15, 130, 207);
    border: 2px ridge black; 
    padding: 1%;
    
}

.selector-for-some-widget {
    box-sizing: content-box;
}

