* {
    box-sizing: border-box;
}

body {
    text-align: center;
    width: 100%;
    
}

header {
    padding: 10%;
    background-color: lightgray; 
}

h1 {
    font-size: 100px;
    background-color: gray;
    padding: 5%;
}
