body
{
    background-color: black;   
}

h1 {
    color: white;
    font-size: 20px;
}

p {
    color: green;
    font-size: 12px;
}

.border {
    color: white;
    border: 2px dotted; 
    height: 100px;
    width: 100px;
  }

ol {
    color: white;
    list-style-type:lower-alpha;
}

ul {
    color: white;
    list-style-type:square;
}